<h1>
  Products:
</h1>
<a routerLink='add'>Add New Product</a>
<div *ngIf='products'>
  <ul>
    <li *ngFor='let product of products'>
      <a routerLink='{{product.id}}'>{{product.name}}</a>
    </li>
  </ul>
  <table>
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </thead>
    <tbody>
      <tr *ngFor='let product of products'>
        <td>
          {{product.id}}
        </td>
        <td>
          {{product.name}}
        </td>
        <td>
          {{product.price}}
        </td>
      </tr>
    </tbody>
  </table>
</div>